@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Fira Code'
}



.container{
    margin: auto;
    width: 90%;
    height: 80vh;
    position: relative;
    top: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container .container-description{
    width: 40%;
}

.container .container-description .title{
    font-size: 59px;
    color: rgb(3, 146, 156);
}
.container .container-description hr{
    width: 30%;
    border:2px solid rgb(3, 146, 156);
}
.container .container-description article{
    margin: 20px 10px;
    font-size: 19px;
}

.container .container-image{
    width: 50%;
}
.image-background{
    width: 100%;
    height: 80vh;
    background: url("images/controller.jpg") #000;
    background-size: cover;
}